
<div class="event-modal-wrapper event-modal-wrapper_confirm">
    <div class="event-modal event-modal_small">
        <h3 class="event-modal_title">Are you sure you want to delete event?</h3>

        <div class="event-modal__control-panel">
            <button class="mod-button mod-left"
                    ng-click="vm.confirm()">Delete</button>
            <button class="mod-button event-modal_button mod-right"
                    ng-click="vm.decline()">Cancel</button>
        </div>
    </div>
</div>